.navbar{
    background-color: #dbc3c3;;
    height: auto;
}
.navbar .nav.link{
    color-scheme: blue(255, 5, 5);
}
.btn{
    padding: 20px 30px;
    font-weight: 900;
    font-size: 10px
}

.btn-muji{
    background-color: pink (59, 27, 204);
    border: 2px solid red(255, 0, 0);
    border-radius: 60px;
    transition: all case-in 0.5x; 
}

.btn-muji:hover{
    color:rgb(40, 148, 112)
}

section {
    padding: 100px 0;
}

.DOOR{
    width: 5%;
}

#banner {
    background: url('OIP\ \(1\).jpg');
    height: 90vh;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    
}

.h1{
    font-size: 45px;
    color: rgb(202, 26, 26);
    text-transform: uppurcase;
    font-weight: 800;
}

#about h2, #about h3 {
text-transform: uppercase;
font-weight: 800
}

#about h3, #services h2 {
    color:black
}

#about img {
    border: 7px solid white;
    box-shadow: 0 0 20 px 0 pink;
    border-radius: 25px;
}

.card-img-top {
    width: 130px;

}

.card {
    padding: 25px 20px;
    transition: all ease-in 0.5s;
    border: 5x solid white;
    box-shadow: 0 0 15px 0 gray;
    border-radius: 25px;
    margin-top: 20px
}
.card:hover{
    background-color:rgb(93, 128, 77);
}
.card:hover .card-title,
.card:hover .card-text{
    color: white;
}
#services h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 55px;
    color:beige;
    margin-bottom: 30px;
}

#services {
    background:rgb(93, 128, 77);
}


#reviews {
    background-color: rgb(43, 21, 43);
}

.testimonial {
    border: 2px solid pink;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.testimonial img {
    width: 75px;
    border-radius: 50%;
    border: 2px solid rgb(107, 67, 67)
}

.accordion-body {
    border-left: 3px solid rgb(121, 58, 58)smoke;
    padding: 10px 15px;
    margin-left: 0;
    background-color:rgb(93, 128, 77);
}

.accordion-button:not(.collapsed){
    background-color: rgb(59, 168, 59);
    color:aquamarine
}

.accordion-button:hover {
    background-color:rgb(172, 117, 44);
    color:rgb(121, 58, 58);
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #0A1737 ;
} 

#footer ul.list-unstyled li a {
    color: #ffffff;
    text-decoration: none;
}

#footer ul.list-unstyled li:hover a {
    color:  rgb(244, 149, 15) ;
    
}

